	<div class="row movie-slide">
		<div class="slide-image">
			<img src="{{moviePoster}}" alt="{{movieName}}" />
		</div>
		<div class="slide-copy">
			<h4 class="bright">
				<span class="title">{{movieName}}</span>
				<span class="info">{{movieYear}}</span>
			</h4>
			<h5>
				<span class="title"><span class="fa fa-star"></span> {{movieRating}}/10</span>
				<span class="info">{{movieRuntime}} <span class="fa fa-clock-o"></span></span>
			</h5>
			<div class="overview-box">
				<p class="light">{{movieDescription}}</p>
				<p class="read-more">&nbsp;</p>
			</div>
		</div>
	</div>
